@charset "UTF-8";

.main-title {
	margin-top: 51px;
    width: 0px;
    margin-left: 20px;
}

th {
	text-align: center;
	vertical-align: middle;
}
td{
	padding: 8px;
}
.mem-button{
	padding:5px;
}
table {
	text-align: center;
	vertical-align: middle;
}

.search-bar {
	margin: 32px;
	margin-left: 160px;
}

.search-btn {
	margin-left: 8px;
}

.form-control {
	width: 130px !important;
	margin-left: 8px;
}