@charset "UTF-8";



.maindiv{
	position:relative;
	height:550px;
	width:500px;
	margin-top: 300px;
	background-color: rgb(33,37,41);
	
	clear: both;
	border-style:none;
	border-width:1px;
	border-color:black;   
	color:white;
	
}

font{
	font-family:DFKai-sb;
	font-size: 25px;
}

.starimg{
	filter: grayscale() ;
	width: 40px;
	height:40px;
}



.detailDiv01Font1{
	width:200px;
	font-size:35px;
	margin-top:30px;
	margin-left:20px;
	text-align: center;
	background-color:#DEDEBE ;
	font-family:DFKai-sb;
	color:black;
	border-color:black;
}


.detailDiv01Font1:focus{
	border-style: none;
}

.sentbutton{
	text-align: center;
	 font-size: 30px;
	 cursor: pointer;
	 font-family:DFKai-sb;
	 clear: both;
	 
}



 