@charset "UTF-8";


body{
	background-image:url('images/hero-1.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgba(0, 0, 0, .6);
	
}



.maindiv{
	position:relative;
	height:500px;
	width:500px;
	margin-top: 200px;
	background-color:#3C3C3C;
	
	clear: both;
	border-style:solid;
	border-width:1px;
	border-color:black;   
	margin-left:60%;
	color:white;
	
}

font{
	font-family:DFKai-sb;
	font-size: 25px;
}

.starimg{
	filter: grayscale() ;
	width: 40px;
	height:40px;
}



.detailDiv01Font1{
	width:200px;
	font-size:35px;
	margin-top:30px;
	margin-left:20px;
	text-align: center;
	background-color:#3C3C3C;
	font-family:DFKai-sb;
	color: white;
}


.detailDiv01Font1:focus{
	border-style: none;
}

.sentbutton{
	text-align: center;
	 font-size: 30px;
	 cursor: pointer;
	 font-family:DFKai-sb;
	 clear: both;
	 
}



 